@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Source-Sans');
/*@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rubik');*/

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Muli', sans-serif; */
/* font-family: 'Rubik', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/************* General *************/
.App {
  text-align: center;
}

h5 {
  font-family: 'Source-Sans-Light', sans-serif !important;
  margin-top: 6% !important;
  margin-bottom: 0% !important;
  /*font-weight: bold !important;*/
}

p{
  margin-bottom: 0 !important;
}

h2 {
  font-size: 22pt !important;
  margin: 15px !important;
  color: #535353 !important;
}

h1 {
  font-size: 14pt !important;
  margin: 15px !important;
  color: #6C6C6C !important;
}

.help {
font-weight: 500;
}

.App-link {
  color: #61dafb;
}

.app {
  margin: 0;
  padding-top: 200;
  margin-top: 200;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  z-index: 10;
}

header {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2) !important;
}

.center {
  margin: auto;
  text-align: center;
}

.center2 {
  margin: auto;
  text-align: center;
  padding-right: 14px;
}

.content {
  background-color: rgb(250,250,250);
}

.hamburger {
  height: 100px;
  position: 'relative';
  background: '#9bcbd6';
}

.knapp{
  .loggaBS{
    text-align: center;
    margin-top: 100px;
    background-color: white;
  }
}

.loggaBS{
  text-align: center;
  margin-top: 50px;
  background-color: grey;
}

.loggaCal{
  text-align: center;
  margin-top: 200px;
  background-color: grey;
}

.App-header {
  background-color: #F5F4EE;  /* #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.logoTop {
  margin-top: 20px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

a {
    color: rgb(255, 255, 255) !important;
    font-size: 16pt;
}

/*Ändrar storlek på hamburgermenyikonen*/
.material-icons {
    font-size: 35px !important;
    padding-left: 5px !important;
}

.mdl-layout__header .mdl-layout__drawer-button {
    margin-top: 10px !important;
}

.mdl-navigation__link {
  color: #6C6C6C !important;
  font-size: 14pt !important;
}

/*Ändring av "Menu" i menyn*/
.mdl-layout-title {
  padding-top: 20px;
  font-size: 20pt !important;
  color: #666767 !important;
}

/*Färg på headern*/
.mdl-layout {
  background-color: #7AA3C2;
}

/************** Main Page ***************/
.bloodgraph {
  text-align: center;
  margin-top: 70px;
}

.graph {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 40%;
  height: auto;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 18px;
  margin: 0;
}

.blood_drop {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 10px;
  vertical-align: middle;*/
  width: 20%;
  height: auto;
}

.sensor_icon{
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 10px;
  vertical-align: middle;*/
  width: 27%;
  height: auto;
}

.mainButton {
  font-size: 22pt;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: bold;
  color: #ffffff;
  padding: 25px 25px;
  background-color: #7AA3C2;  /*ABCAE1 5595B0 88bbd6*/
  text-align: center;
  line-height: 50%;
  height: 10px;
  width: 220px;
  margin: 0 auto;
  margin-top: 12%;
  margin-bottom: 5%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainButton:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #668CA1; /*rgba(136, 187, 214, 0.1);*/

}

/*
.mainButton:hover {
background-color: #4d79ff;
border: none;
color: white;
opacity: 0.6;
transition: 0.3s;
}*/

.smallButton {
  /*font-family: "open sans", sans-serif;*/
  font-weight: bold;
  font-size: 12pt;
  color: #ffffff;
  padding: 25px 25px;
  background-color: #7AA3C2; /* ABCAE1 88bbd6*/
  text-align: center;
  line-height: 50%;
  vertical-align: middle;
  height: 5px;
  width: 73px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CGM{
  margin: auto;
}

.smallButton:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #668CA1; /*rgba(136, 187, 214, 0.1);*/

}

/*
.smallButtons:hover {
background-color: #4d79ff;
border: none;
color: white;
opacity: 0.6;
transition: 0.5s;
} */



/************* New Log Page *************/
.expContent {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
}

.logContent {
  width: 60%;
  display: block;
  align-items: left;
}

.valueContent {
  width: 30%;
  /*display: flex;*/
  justify-content: space-around;
  align-items: center;
  /*font-size: 120%;*/
}

.textSize {
  font-size: 100%;
  padding-left: 5px;
  align-items: right;
}

.inputSize {
  font-size: 22px;
  text-align: center;
  align-items: right;
  margin-bottom: 3%;

}

.activeInsulin {
  font-size: 115%;
  color: red;
  margin-bottom: 20%;
  margin-left: 6%;
  margin-right: 28%;
}

.log {
  margin-top: 2%;
  margin-bottom: 1%;
}

.date{
  font-size: 12px;
  margin-bottom: 5%;
}

.sectionhead{
  /*font-weight: bold;*/
  font-size: 20px;
}

/*
.section {
background-color: rgb(245, 245, 246);
box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
border-top-style: solid;
border-bottom-style: solid;
border-color: rgb(210, 210, 210);
}
*/


.bsSection {
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}

.bsSection::before {
  content : "";
  position: absolute;
  left    : 5%;
  top  : -15%;
  width   : 90%;
  border-top-style: solid;
  border-width: thin;
  border-color: rgb(190, 190, 190);
}

.bsSection::after {
  content : "";
  position: absolute;
  left    : 5%;
  bottom  : -10%;
  width   : 90%;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(190, 190, 190);
}

.carbsSection {
  height: auto;
  width: auto;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
  font-family: 'Source-Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carbsSection::after {
  content : "";
  position: absolute;
  left    : 5%;
  bottom  : 0%;
  width   : 90%;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(190, 190, 190);
}

.insulinSection {
  height: auto;
  width: auto;
  position: relative;
  z-index: 1;
  margin-bottom: 4%;
}

.insulinSection::after {
  content : "";
  position: absolute;
  left    : 5%;
  bottom  : -5%;
  width   : 90%;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(190, 190, 190);
}

.miniButton {
  color: rgb(255, 255, 255);
  background-color: #7AA3C2;
/*color: #ffffff;
  background-color: rgb(250,250,250);
  background-color: rgba(147, 185, 211, 0.3);*/
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 200%;
  margin-left: 13%;
  margin-right: 33%;
  margin-bottom: 4%;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: rgb(209, 209, 209);
/*  border-color: #77A4BB; */
  border-radius: 6px;
  align-items: left;
  /*box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.miniButton:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #668CA1; /*rgba(136, 187, 214, 0.1);*/
}

input {
  height: 40px;
  width: 40px;
  border: 0.4px outset ;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4pt;
}

.underRubrik {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.carbsContainer {
  display: block;
  margin-bottom: 5%;
  /*
  justify-content: space-between;
  align-items: center;*/
}

.carbsList {
  text-align: left;
  font-size: 12px;

}

table{
    font-size: 12px;
}

tr th:first-child{
  text-align: left;
}

tr td:first-child{
  text-align: left;
}

th, td{
  text-align: right;
  margin-left: 10%
}

.cancelButton {
  font-size: 14px;
  color: #043357;
  /*font-weight: bold;*/
  height: auto;
  width: 80px;
  margin-left: 0;
  margin-right: 93px;
  margin-top: 8px;
  margin-bottom: 0 !important;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 2px;
  display: inline-block;
}

.clearButton {
  font-size: 14px;
  color: #043357;
  /*font-weight: bold;*/
  height: auto;
  width: 80px;
  margin-left: 93px;
  margin-right: 0;
  margin-top: 12px;
  margin-bottom: 0 !important;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 2px;
  display: inline-block;
}

.arrow {
  margin-bottom: 320%;
  margin-left: 20%;
  -webkit-transform: rotate(-90deg);
}

.cancel {
  margin-bottom: 3.2%;
}

/************* Help Page *************/

.textbox {
  background-color: white;
  padding: 20px;
  padding-top: 1px !important;
  padding-bottom: 5px !important;
  margin-top: 13px !important;
  margin: auto;
  border: 1px;
  border-radius: 18px;
  width: 315px;
  height: auto;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2) !important;
}

.backButton {
  font-size: 18px;
  color: white;
  font-weight: bold;
  height: auto;
  width: 100px;
  margin: 18px;
  margin-top: 55px;
  background-color: #9BB9D0;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 10px;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  .graph {
    width: 20em;
  }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

  .graph {
    width: 23em;
  }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {


}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-color: lightblue;
  }

  .graph {
    width: 23em;
  }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}
