@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}*/

/*
#header {
box-shadow: 0px 20px 12px 0px rgba(50, 50, 50, 0.37);
} */

header {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2) !important;
}

/*EMMA ADDERAR KOD för att centrera:*/
.center {
  margin: auto;
  text-align: center;
}

.hamburger {
  height: 100px;
  position: 'relative';
  background: '#9bcbd6';
}

.content {
  background-color: rgb(245,245,246);
}

.App-header {
  background-color: #F5F4EE;  /* #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.logoTop {
    margin-top: 20px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2); /* , 0 0px 0px 0 rgba(0, 0, 0, 0.19) */
}


.bloodgraph {
  text-align: center;
  margin-top: 100px;
}

.topBar {
/*
  height: auto;
  width: 100%;
  margin-bottom: 80%;
  background: #FFFFF;*/

/*  style={{height: '100px', position: 'fixedHeader', background: '#FFFFF'}}
  background-color: #9bcbd6;
  height: 100px;
  position: fixedHeader;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
*/
}

.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

.blood_drop {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 10px;
  vertical-align: middle;*/

  width: 20%;
  height: auto;
}

.sensor_icon{
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 10px;
  vertical-align: middle;*/

  width: 27%;
  height: auto;
}

.controlGlucose{
  /* Fyll med något */
}

p {
  /* Fyll med något */
}

.mainButton {
  font-size: 22pt;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: bold;
  color: #ffffff;
  padding: 25px 25px;
  background-color: #88bbd6;  /*5595B0*/
  text-align: center;
  line-height: 50%;
  height: 10px;
  width: 220px;
  margin: 0 auto;
  margin-top: 28%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainButton:hover {
  background-color: #4d79ff;
  border: none;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  /*transform: scale(1.1);*/
 }

 .smallButtons {
   /*font-family: "open sans", sans-serif;*/
   font-weight: bold;
   font-size: 12pt;
   color: #ffffff;
   padding: 25px 25px;
   background-color: #88bbd6;
   text-align: center;
   /*line-height: 50%;*/
   vertical-align: middle;
   height: 5px;
   width: 73px;
   margin-left: 3%;
   margin-right: 3%;
   margin-top: 25px;
   display: inline-block;
   border-radius: 4px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .smallButtons:hover {
   background-color: #4d79ff;
   border: none;
   color: white;
   opacity: 0.6;
   transition: 0.5s;
   /*transform: scale(1.1);*/
  }

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .graph {
      width: 20em;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .graph {
      width: 23em;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {


}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    body {
      background-color: lightblue;
    }

    .graph {
      width: 23em;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}
