@import url('https://fonts.googleapis.com/css?family=Montserrat');

/************* General *************/
.App {
  text-align: center;
}

p{
  margin-bottom: 0 !important;
}

.App-link {
  color: #61dafb;
}

header {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2) !important;
}
/*
.mdl-layout__header-row {
    padding: 0 !important;
}
*/

.center {
  margin: auto;
  text-align: center;
}

.content {
  background-color: rgb(245,245,246);
}

.hamburger {
  height: 100px;
  position: 'relative';
  background: '#9bcbd6';
}
.knapp{
  .loggaBS{
    text-align: center;
    margin-top: 100px;
    background-color: white;
  }
}

.loggaBS{
  text-align: center;
  margin-top: 50px;
  background-color: grey;
}

.loggaCal{
  text-align: center;
  margin-top: 200px;
  background-color: grey;
}

.App-header {
  background-color: #F5F4EE;  /* #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.logoTop {
  margin-top: 20px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}



/************** Main Page ***************/
.bloodgraph {
  text-align: center;
  margin-top: 100px;
}

.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

.blood_drop {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 10px;
  vertical-align: middle;*/
  width: 20%;
  height: auto;
}

.sensor_icon{
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 10px;
  vertical-align: middle;*/
  width: 27%;
  height: auto;
}

.mainButton {
  font-size: 22pt;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: bold;
  color: #ffffff;
  padding: 25px 25px;
  background-color: #88bbd6;  /*5595B0*/
  text-align: center;
  line-height: 50%;
  height: 10px;
  width: 220px;
  margin: 0 auto;
  margin-top: 28%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.mainButton:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #668CA1; /*rgba(136, 187, 214, 0.1);*/

}

/*
.mainButton:hover {
  background-color: #4d79ff;
  border: none;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
}*/

.smallButton {
  /*font-family: "open sans", sans-serif;*/
  font-weight: bold;
  font-size: 12pt;
  color: #ffffff;
  padding: 25px 25px;
  background-color: #88bbd6;
  text-align: center;
  line-height: 50%;
  vertical-align: middle;
  height: 5px;
  width: 73px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 25px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CGM{
  margin: auto;
}

.smallButton:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #668CA1; /*rgba(136, 187, 214, 0.1);*/

}

/*
.smallButtons:hover {
  background-color: #4d79ff;
  border: none;
  color: white;
  opacity: 0.6;
  transition: 0.5s;
} */



/************* New Log Page *************/
.expContent {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
}

.logContent {
  width: 60%;
  display: block;
  align-items: left;
}

.valueContent {
  width: 30%;
  /*display: flex;*/
  justify-content: space-around;
  align-items: center;
  /*font-size: 120%;*/
}

.textSize {
 font-size: 100%;
 padding-left: 5px;
 align-items: right;
  }

.inputSize {
  font-size: 22px;
  text-align: center;
  align-items: right;
  margin-bottom: 3%;

  }

  .activeInsulin {
    font-size: 115%;
    color: red;
    margin-bottom: 20%;
    margin-left: 6%;
    margin-right: 28%;
    }

.log {
  margin-top: 10%;
  font-family: Tahoma, Geneva, sans-serif;
}

.section {
  background-color: rgb(245, 245, 246);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  /*box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);*/
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(210, 210, 210);
}

.bsSection {
  height: auto;
  width: auto;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(210, 210, 210);

}

.carbsSection {
  height: auto;
  width: auto;
  border-bottom-style: solid;
  border-color: rgb(210, 210, 210);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.insulinSection {
  height: auto;
  width: auto;
  border-bottom-style: solid;
  border-color: rgb(210, 210, 210);
  margin-bottom: 4%;
}

.miniButton {
  color: #ffffff;
  background-color: #88bbd6;
  /*background-color: rgba(147, 185, 211, 0.3);*/
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 200%;
  margin-left: 13%;
  margin-right: 33%;
  margin-bottom: 4%;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #77A4BB;
  border-radius: 4px;
  align-items: left;
  /*box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.miniButton:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #668CA1; /*rgba(136, 187, 214, 0.1);*/
}

input {
  height: 40px;
  width: 40px;
  border: 0.5px outset ;
}

.underRubrik {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.carbsContainer {
  display: block;
  margin-bottom: 5%;

  /*
  justify-content: space-between;
  align-items: center;*/

}

.carbsList {
  text-align: left;
  font-size: 12px;

}

tr th:first-child{
  text-align: left;
}

tr td:first-child{
  text-align: left;
}

th, td{
  text-align: right;
  margin-left: 10%
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  .graph {
    width: 20em;
  }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

  .graph {
    width: 23em;
  }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {


}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-color: lightblue;
  }

  .graph {
    width: 23em;
  }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}
